@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


:root{
    --bg-main:#2c4b82;
    --color-primary:#f8b4a7;
    --color-secondary:#93ddde;
    --color-tertiary:#efefef;
    --borders:2px solid red;
}
body{
    background-color: var(--bg-main);
    color: var(--color-primary);
    width: 100%;
    height: auto;
    margin: 0px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-item{
    border-color: var(--color-secondary);
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    color: var(--bg-main);
    background-color: var(--color-secondary);
}
.highlight{
    color: var(--color-primary);
    text-shadow: 2px 2px 9px var(--color-tertiary);
}
.hero-container{
    font-size: 4rem;
    width: 80%;
    height: auto;
    margin-inline: auto;
    display: flex;
    border: var(--borders);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.hero-text{
    color: transparent;
    text-shadow: 3px 3px 4px var(--color-primary);
    width: 40%;
    height: auto;
    border: var(--borders);
}
.hero-image{
    width: 40%;
    height: auto;
    border: var(--borders);
}
.hero-image img{
    width: 100%;
    height: fit-content;
    border: var(--borders);
}
.about-me{
    border: var(--borders);
}
.about-me-heading{
    font-size: 2.5rem;
}
.about-me p{
    font-size: 1.5rem;
}
.project-heading{
    display: flex;
    align-items: center;
    justify-content: center;

}
.my-projects{
    display: flex;
    justify-content: space-between;
    border: var(--borders);
}
.projects{
    border: var(--borders);
    width: 20%;

}
.images-div{
    width: 100%;
    min-height: 173px;
}
img{
    width: 100%;
    min-height: 173px;
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: var(--color-primary);
}
.caption-container{
    border: var(--borders);
    width: 100%;
    height: auto;
}
.project-caption{
    font-size: 1.5rem;
    color: var(--color-secondary);
    text-overflow: var(--color-tertiary);
}
@media screen and (max-width: 428px) {
    .hero-container{
        font-size: 2rem;
        width: 80%;
        height: auto;
        margin-inline: auto;
        display: flex;
        border: var(--borders);
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .hero-text{
        width: 100%;
        height: auto;
        border: var(--borders);
    }
    .hero-image{
        width: 100%;
        height: auto;
        border: var(--borders);
    }
    .hero-image img{
        width: 100%;
        height: fit-content;
        border: var(--borders);
    }
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-me p{
        font-size: 1rem;
    }
  }